<h1>SEARCH</h1>
<form [formGroup]="searchGroup">
    <div formGroupName="monstersGroup">
        <mat-slide-toggle formControlName="controlMonsters" name="monster-check"> 
            Monsters <span>[current value : {{ checkedMonsters }}]</span>
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="controlCreaturesNoFood" name="creatureNoFood-check"> 
            Creatures (no food) <span>[current value : {{ checkedCreaturesNoFood }}]</span>
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="controlCreaturesFood" name="creatureFoodcheck"> 
            Creatures (food) <span>[current value : {{ checkedCreaturesFood }}]</span>
        </mat-slide-toggle>
    </div>

    <mat-form-field appearance="fill" *ngIf="checkedCreaturesFood == true">
        <mat-label>Cooking effect</mat-label>
        <mat-select formControlName="controlEffects">
            <mat-select-trigger >{{ displayEffect() }}</mat-select-trigger>
            <mat-option *ngFor="let effect of listEffects" [value]="effect">
            {{effect}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span>{{ filteredEffects }}</span>
    <div class="rightSearch">
        Filter by name : <input matInput type="text" formControlName="controlName">
    </div>
    <br>
  </form>

    <img [ngStyle]="{display:filteredData.length >0?'none':''}"class="loadingImg" src="../assets/images/loading.gif">

  <app-list [dataList]="filteredData" *ngIf="filteredData.length > 0"> </app-list>
