form mat-slide-toggle {
    display: block;
    margin: 1em 0.5em;
}

form .mat-form-field {
    margin-left: 1em;
    width: 500px;
}

form .rightSearch {
    float: right;
    margin-right: 5%;
}

:host form * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:host form span {
    font-size: medium;
}