<h1>Avancement</h1>

<ul>
    <li>EXERCICE 1 : Creation des composants home, routes et navbar</li>
    <li>EXERCICE 2 : Lister toutes les donnees</li>
    <li>EXERCICE 3 : Affichage separe des monstres et des creatures</li>
    <li>EXERCICE 4 : Affichage des details d'un animal</li>
    <li>EXERCICE 5 : Creation d'un premier formulaire</li>
    <li>EXERCICE 6 : Composition de formulaires</li>
    <li>EXERCICE 7 : Customisation contenu select</li>
    <li>EXERCICE 8 : Filtrer la liste des monstres selon le filtre</li>
    <li>EXERCICE 9 : Recherche par nom d'elements</li>
    <li>EXERCICE 10 : Mise en place api</li>
    <li>EXERCICE 11 : Remplacement des mocks par les elements issus de l'api</li>
</ul>