<mat-card *ngIf="myMonster">
    <br>
    <h2>{{myMonster.name | uppercase }}</h2>
    <h5>{{myMonster.description}}</h5>

    <img mat-card-image src="{{myMonster.image}}">

    <div *ngIf="myMonster.common_locations && myMonster.common_locations.length > 0 ">
        <h4>SPAWN LOCATIONS</h4>
        <li *ngFor='let location of myMonster.common_locations'>
            {{ location }}
        </li>
    </div>
    <div *ngIf="myMonster.drops && myMonster.drops.length > 0">
        <h4>DROPS</h4>
        <li *ngFor='let location of myMonster.drops'>
            {{ location }}
        </li>
    </div>
</mat-card>