nav {
    background-color: #CCCCCC;
    height: 100px;
}

nav li, nav li *  {    
    display: inline;
}

nav a {
    line-height: 60px;
    margin: 1em;
    text-decoration: none;
    color: #111111;
}

nav img {
    vertical-align: middle;
    margin: 20px 1em;
    margin-left: 15px;
    height: 60px;
    cursor: pointer;
}