<nav>
        <li><img [routerLink]="['/home']" routerLinkActive="active" src="../assets/images/triforce.png"></li>
        <li><a [routerLink]="['/monsters']" routerLinkActive="active" >MONSTERS</a></li>
        <li><a [routerLink]="['/creatures']" routerLinkActive="active" >CREATURES</a></li>
        <li><a [routerLink]="['/search']" routerLinkActive="active" >SEARCH</a></li>
</nav>
