<mat-card *ngIf="myData.category == 'creatureNoFood' || myData.category == 'creatureFood'">
    <a href="/creature/{{myData.id}}"><img mat-card-image src="{{myData.image}}"></a>
    <mat-card-title><a href="/creature/{{myData.id}}">{{myData.name}}</a></mat-card-title>
</mat-card>

<mat-card *ngIf="myData.category == 'monster'">
    <a href="/monster/{{myData.id}}"><img mat-card-image src="{{myData.image}}"></a>
    <mat-card-title><a href="/monster/{{myData.id}}">{{myData.name}}</a></mat-card-title>
</mat-card>