
<mat-card *ngIf="myCreature">
    <h2>{{myCreature.name  | uppercase }}</h2>
    <h5>{{myCreature.description}}</h5>
    <img mat-card-image src="{{myCreature.image}}">
    <h4>SPAWN LOCATIONS</h4>
    <li *ngFor='let location of myCreature.common_locations'>
        {{ location }}
    </li>

    <h6 *ngIf="myCreature.cooking_effect">Cooking effect : {{myCreature.cooking_effect}}</h6>
    <h6 *ngIf="myCreature.hearts_recovered">Hearts recovered : {{myCreature.hearts_recovered}}</h6>
</mat-card>