:host {
    margin : O auto;
    text-align: center;
}

:host h5 {
    margin: 3em 30%;
    text-align: justify;
    text-indent: 20px;
    font-size: 19px;
}

:host li {
    text-align: left;
    margin-left: 45%;
    font-size: large ;
}

:host * {
    font-family: 'Trebuchet MS';
}

:host img {
    margin: auto;
    width: 30% ;
}